body{
    background-color: blue;
}

@media (min-width: 200px) {
h1{
    font-size: 30px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h5{
    text-align: center;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#logoutContainer{
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 300px;
margin-left: 5%;
    width: 90%;
    margin-top: 160px;
background-color: white;
border: 4px groove black;
border-radius: 10px;
}
.form-input{
width: 80%;
margin-left: 10%;
}
.form-h5{
    margin: 0px;
text-align: center;
}
button{
background-color: black;
color: white;
margin-left: 38%;
width: 90px;
margin-top: 20px;
border-radius: 5px;
}
.mensajes{ background-color: whitesmoke;
    border: 1px groove black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mensajes h5{
   margin: 0px;
   font-size: 16px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mensajes p{
font-size: 16px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    text-align: center;
}
}



@media (min-width: 1000px) {

    h1{
        font-size: 40px;
    }
    h5{
        font-size: 19px;
    }
    #logoutContainer{
        height: 400px;
    margin-left: 30%;
        width: 40%;
        margin-top: 160px;
    }
    .form-input{
    width: 60%;
    margin-left: 20%;
    }
    button{
    margin-left: 33%;
    width: 170px;
    height: 40px;
    margin-top: 20px;

    }
    .mensajes{ background-color: whitesmoke;
        border: 1px groove black;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mensajes h5{
       margin: 0px;
       font-size: 18px;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .mensajes p{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    



}